<!-- Modal Structure -->
<div id="modal<%= obj.id %>" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <%= render partial, obj: obj %>
  </div>
  <div class="modal-footer">
    <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>