@import "bootstrap-sprockets";
@import "bootstrap";

h1.view-header {
  margin-bottom: 1em;
}

/* Tokens index view */

.list-view {
  overflow-x: auto;
  overflow-y: hidden;

  margin: 0;
  padding: 0;
}

.tokens-table {
  display: table;
}

.tokens-table thead tr + .tokens-table tbody tr {
  height: 200px;
}

.tokens-table-header {
  margin: 0;
}

.token-actions button {
  display: none;
}

.token-actions:hover button {
  display: block;
}

.tokens-count {
  color: #227722;
}