@import "materialize/components/color";
@import "materialize";

// tags

body {
  padding: 0;
  background: #eee;
  -webkit-font-smoothing: antialiased;
}

h3, h6 {
  font-weight: 300;
}

h3 {
  color: #636363;
}

h6 {
  color: #4a89dc;
}

// ids

#logo {
  margin-left: 20px;
  margin-right: 20px;
}

#logo.hover {
  background-color: #ff9e80;
}

#map {
  position: absolute;
  top: 10%;
  bottom: 0;
  width: 100%;
}

/* Navbar */

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

.push-navbar {
  padding-top: 4em;
}

// classes

form.login {
  width: 380px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px, rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
}

.group {
  position: relative;
  margin: 0em;
}

.bold {
  font-weight: bold;
}

// Toasts

.toast-success {
  background-color: #43a047;
}

.toast-danger {
  background-color: #e53935;
}

/* Table */

.no-padding table {
  padding: 0;
}

.table-action a {
  display: none;
}

.table-action:hover a {
  display: inline-block;
}

.table-row:hover {
  background-color: #b2dfdb;
}

/* Card */

.card-top {
  margin-top: 1em;
}

.card-modal {
  margin: 0;
}

.card-search-field {
  padding: 10px;
}

.card-panel.padding {
  padding: 0.2em;
}



/* Scroll */

.scroll {
  height: 500px;
  overflow: scroll;
}

.fixed-control {
  position: fixed;
  height: 100%;
}

/* Modal */

.bottom-content {
  width:100%;
  text-align: center;
}

.bottom-content span {
  color: grey;
}

.modal-content-style {
  margin: 0;
  padding: 10px;
}

.modal.small {
  width: 400px;
}

/* Search */

.no-result-tag {
  text-align: center;
  color: #7C7C7C;
}