<%= include_gon %>
<div>
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet'/>
  <style>
    #map {
      top: 8%;
      bottom: 0;
      width: 100%;
      z-index: -1;
    }

    .header {
      text-align: center;
    }

  </style>

  <div class="row">
    <div class="col s12 m4 l3 fixed-control">
      <div class="card card-top hoverable">
        <div class="card-content">
          <span class="card-title thin">Carte</span>
          <p>Voici la carte du cégep.</p>
        </div>
        <div class="card-action">
          <button onclick="getFloorOne()" class="btn waves-effect waves-light">Étage 1</button>
          <button onclick="getFloorTwo()" class="btn waves-effect waves-light">Étage 2</button>
        </div>
      </div>
    </div>

    <div id='map'></div>
  </div>

  <script>
      loadMap(gon.map_floor_1);

      function getFloorOne() {
          loadMap(gon.map_floor_1);
      }

      function getFloorTwo() {
          loadMap(gon.map_floor_2);
      }
  </script>
</div>