<%= include_gon %>
<div class="">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet'/>
  <style>
    #map {
      position: absolute;
      top: 8%;
      bottom: 0;
      width: 100%;
    }

    .header {
      text-align: center;
    }

    .mapboxgl-popup {
      max-width: 400px;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

  </style>

  <div id='map'>
    <div class="header">
      <h1>MAP</h1>
      <button onclick="getFloorOne()" class="btn btn-default">Floor 1</button>
      <button onclick="getFloorTwo()" class="btn btn-default">Floor 2</button>
    </div>
    <br>
  </div>

  <script>
      loadMap(gon.map_floor_1);

      function getFloorOne() {
          loadMap(gon.map_floor_1);
      }

      function getFloorTwo() {
          loadMap(gon.map_floor_2);
      }
  </script>
</div>