<%= include_gon %>
<div class="">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet'/>
  <style>

    #map {
      position: absolute;
      top: 8%;
      bottom: 0;
      width: 100%;
    }
  </style>

  <div id='map'>map</div>

  <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiZnJlZGxhYjciLCJhIjoiY2l5a2R6OTNyMDAxMzJxcGZ0N3BiZHg4NCJ9.yy7iToUoptoBI9Sh3CHkbg';

      var bounds = [
          [-71.2912, 46.7840], // Southwest coordinates
          [-71.2845, 46.7886]  // Northeast coordinates
      ];

      var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v9',
          center: [-71.28739276585, 46.78642133499],
          zoom: 18,
          maxBounds: bounds
      });
      //      console.log(gon.map_room);

      map.on('load', function () {
          j = gon.map_room.length;
          z = (gon.map_room.length) * 2;
          for (i = 0; i < gon.map_room.length; i++) {

              map.addLayer({
                  "id": i.toString(),
                  "type": "line",
                  "source": {
                      "type": "geojson",
                      "data": gon.map_room[i]
                  }
              });
              map.addLayer({
                  "id": j.toString(),
                  "type": "symbol",
                  "source": {
                      "type": "geojson",
                      "data": gon.map_room[i]
                  }
              });
              map.addLayer({
                  "id": z.toString(),
                  "type": "circle",
                  "source": i.toString(),
                  "paint": {
                      "circle-radius": 6,
                      "circle-color": "#B42222"
                  },
                  "filter": ["==", "$type", "Point"],
              });
              j++;
              z++;
              // https://www.mapbox.com/mapbox-gl-js/example/popup-on-click/
              map.on('click', function (e) {
                  var features = map.queryRenderedFeatures(e.symbol, {layers: [i.toString()]});

                  if (!features.length) {
                      return;
                  }
                  var feature = features[0];
                  console.log(features);

                  var popup = new mapboxgl.Popup()
                      .setLngLat(gon.map_room[i].geometry.coordinates)
                      .setHTML(gon.map_room[i].properties.description)
                      .addTo(map);
              });

//              map.on('mousemove', function (e) {
//                  var features = map.queryRenderedFeatures(e.point, {layers: [j]});
//                  map.getCanvas().style.cursor = (features.length) ? 'pointer' : '';
//              });
          }

      });

  </script>
</div>