<%= include_gon %>
<div class="">
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet'/>
  <style>

    #map {
      position: absolute;
      top: 8%;
      bottom: 0;
      width: 100%;
    }

    .header {
      text-align: center;
    }

    .mapboxgl-popup {
      max-width: 400px;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    }

  </style>

  <div id='map'>
    <div class="header">
      <h1>MAP</h1>
      <button onclick="getFloorOne()" class="btn btn-default">Floor 1</button>
      <button onclick="getFloorTwo()" class="btn btn-default">Floor 2</button>
      <button class="btn btn-default">Floor 3</button>
    </div>
    <br>
  </div>

  <script>
      loadMap(gon.map_floor_1);
      function getFloorOne() {
          console.log(gon.map_floor_1);
          loadMap(gon.map_floor_1);
      }

      function getFloorTwo() {
          console.log(gon.map_floor_2);
          loadMap(gon.map_floor_2);
      }

      function loadMap(map_json) {
          mapboxgl.accessToken = 'pk.eyJ1IjoiZnJlZGxhYjciLCJhIjoiY2l5a2R6OTNyMDAxMzJxcGZ0N3BiZHg4NCJ9.yy7iToUoptoBI9Sh3CHkbg';

          var bounds = [
              [-71.2912, 46.7840], // Southwest coordinates
              [-71.2845, 46.7886]  // Northeast coordinates
          ];

          var map = new mapboxgl.Map({
              container: 'map',
              style: 'mapbox://styles/mapbox/streets-v9',
              center: [-71.28739276585, 46.78642133499],
              zoom: 18,
              maxBounds: bounds
          });

          map.on('load', function () {
              j = map_json.length;
              z = (map_json.length) * 2;

              for (i = 0; i < map_json.length; i++) {

                  map.addLayer({
                      "id": i.toString(),
                      "type": "line",
                      "source": {
                          "type": "geojson",
                          "data": map_json[i]
                      }
                  });
                  map.addLayer({
                      "id": j.toString(),
                      "type": "symbol",
                      "source": {
                          "type": "geojson",
                          "data": map_json[i]
                      }
                  });
                  map.addLayer({
                      "id": z.toString(),
                      "type": "circle",
                      "source": j.toString(),
                      "paint": {
                          "circle-radius": 6,
                          "circle-color": "#B42222"
                      },
                      "filter": ["==", "$type", "Point"]
                  });
                  j++;
                  z++;
              }
          });
      }
  </script>
</div>